# resources/_gen Hugo needs this to store built thumbnails, which should speed up deploys
assets/.sass-cache
assets/scss/*.css
content/**/index.md
content/unavailable/*
data/*
node_modules
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode

# Hugo
public/
