@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&family=Bungee+Shade&display=swap");
body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial,Helvetica;
}
header {
    background-color: #000;
    color: #fff;
    border: solid 1px #000; 
}

header h1 {
    border: solid 3px #fff;
    min-width: 180px;
    width: 120px;
    font-family: 'Poppins',Arial,Helvetica;
    font-size: 1.2rem;
    padding: .5rem;
    margin: 1rem;
    margin-bottom: 0;
}
header p {
    margin: 0 0 1rem 1rem;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body a {
    color: red;
}
section,nav {
    margin: 1rem;
}
section {
    display: none;
}
nav li {
    display: inline-block;
    margin-left: 5px;
}
nav li:first-child {
    margin-left: 0;
}
nav li::after {
    content: '>>';    
}
nav li:last-child::after {
    content: '';
}
nav li a {
    padding: 0.5em;
    margin-right: 5px;
}
#albumlist ul {
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
    grid-gap: 1rem;

}
#albumlist li {
    background: #eee;
    text-align: center;
    padding-bottom: 1em;
}
#pictures ul li, #recent ul li {
    display: inline-block;
    padding: .1rem;
}
#details div.herowrap {
    background: #ccc;
    text-align: center;
    /*max-height: calc(75vh - 100px);*/
    margin: 0;
    padding-bottom: 1rem;
}
img#hero {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    max-width: calc(90vw);
    height: auto;
}
span#prev, span#next {
    display: block;
    position: absolute;
    height: calc(55vh);
    width: 4rem;
    color: #fff;
    font-size: 7rem;
    padding: 0;
    cursor: pointer;
}
span#next {
    right: 1rem;
}
span#prev a,span#next a {
    position: absolute;
    transform: translate(-50% , 50%) scale(1,2);
    color: #fff;
}   
@media only screen and (max-width: 600px) {

}
#details > div:last-child {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
    grid-gap: 1rem;
}
#details table, #photogeo {
    /*width: calc(45vw);*/
    min-width: 300px;
}
#title {
    margin-bottom: 0;
}
#description {
    margin: .5em auto;
}
#photometa thead td {
    border-bottom:  solid 2px black;
}
#photometa thead td h3 {
    margin-bottom: 0;
}
#photometa tbody tr td:first-child {
    padding-right: 1em;
    white-space: nowrap;
} 
#photogeo img {
    display: block;
    width:  300px;
    height: 200px;
}
#photogeo ul {
    width:  300px;
    text-align: center;
}
#photogeo li {
    padding: 1rem 1rem;
    display: inline-block;
    font-size: 0.75em;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
footer {
    margin: 2rem 0 1rem;
    padding-top: 1rem;
    border-top: solid 1px black;
    text-align: center;
}
footer * {
    font-size: 0.75rem;
    margin: 0;
}