{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1>{{ if eq .Kind "term" }}Images for tag: <em>{{ end }}{{ .Title }}{{ if eq .Kind "term" }}</em>{{ end }}</h1>
{{ end }}

{{ if and .Title (eq .Type "tags") }}
{{ $content := printf "%s" ".txt" | printf "%s%s" (replaceRE "(\\s)" "-" .Title) | printf "%s%s" "/tags/" | printf "%s%s" .File.Dir | printf "%s" }}
{{ if (fileExists $content) }}
    {{ readFile $content }}
{{ end }}
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ $pages := sort $pages ".Params.UnixTime" "desc" }}

{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<div>

<!-- Articles -->
{{ $paginator := .Paginate $pages }} 
{{ range $index, $page := $paginator.Pages }}
  {{ $date := .Date }}
  {{ $datetimeoriginal := "" }}
  {{ $title := .Title }}
  {{ $link := .Permalink }}
  {{ $imagepath := $page.Params.Filename }}
  {{ $imagepath := $imagepath | printf "/photos/%s" }}
  {{ $image := resources.GetMatch $imagepath }}
  {{ if $image }}
    {{ if ge $image.Height $image.Width }}
      {{ $image = $image.Resize "350x webp" }}
    {{ else }}
      {{ $image = $image.Resize "x350 webp" }}
    {{ end }}
    {{ $image := $image.Crop "350x150 center q75" }}
    {{ with $image }}
<!---->

<div class="album-item my-10 first-of-type:mt-0 last-of-type:mb-0">
  <h2 class="!my-0 pb-1 !leading-none">{{ $title }}</h2>
      {{ with $image.Exif }}
        {{ $timeparts := split .Tags.DateTimeOriginal " " }}
        {{ $tdorig := index $timeparts 0 }}
  <time datetime="{{ $tdorig }}" class="text-sm opacity-60">{{ $date | time.Format ":date_medium" }}</time>
      {{ end }}
  <a class="inset-0 text-[0]" href="{{ $link }}"><img src="{{ $image.RelPermalink }}" title="{{ $image.Title}}" alt="{{ $image.Title}}" width="{{ $image.Width }}" height="{{ $image.Height }}"></a>
</div>
    {{ end }}
  {{ end }}
{{ end }}
</div>

{{ if eq .Kind "taxonomy" }}
{{ partial "taxonomy.html" . }}
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
