{{ define "main" }}
{{ if .Params.DateTimeOriginal }}
  {{ $originDate := .Params.DateTimeOriginal | time }}
{{ else }}
  {{ $originDate := "None" }}
{{ end }}

{{ $isFilm := false }}
{{ range .Params.tags }}
  {{ if eq . "film" }}
    {{ $isFilm = true }}
  {{ end }}
{{ end }}

<article>
  <header class="mb-20">
    <h1>{{ .Params.Title }}</h1>

    {{ if ne .Type "page" }}
    <div class="text-sm opacity-60">
      {{ if .Params.DateTimeOriginal }}
      <time datetime="{{ .Params.DateTimeOriginal }}">{{ (.Params.DateTimeOriginal | time).Format .Site.Params.dateFormat }}</time>
      {{ end }}
    </div>
    {{ end }}
    {{ $pathname := (index (split .File.Dir "/") 0) | printf "/%s" }}
    {{ $obj := .GetPage $pathname }}
    {{ $title := title (replace $obj.Title "+" " ") }}
    <p class="rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">See other pictures from <a href="/{{ .Page.Params.countryClean }}/{{ .Page.Params.regionClean }}/{{ .Page.Params.cityClean }}/" alt="See other pictures from {{ .Page.Params.City}}, {{ .Page.Params.Country}}">{{ .Page.Params.City}}</a>, <a href="/{{ .Page.Params.countryClean }}/{{ .Page.Params.regionClean }}/" alt="See other pictures from {{ .Page.Params.State}}, {{ .Page.Params.Country}}">{{ .Page.Params.State}}</a>, and <a href="/{{ .Page.Params.countryClean }}/" alt="See other pictures from {{ .Page.Params.Country}}">{{ .Page.Params.Country}}</a></p>
  </header>

  <div id="details">
    <!-- Displays the details of a specific photo -->
    <div class="herowrap">
          {{ $imagepath := .Param "Filename" }}
          {{ $imagepath := $imagepath | printf "/photos/%s" }}
          {{ $image := resources.GetMatch $imagepath }}
          {{ $title := .Title }}
          {{ with $image }}
            {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
        <div>
            <img id="hero" src="{{ .RelPermalink }}" alt="{{ $title }}" height="{{ .Height }}" width="{{ .Width }}">
            <div id="modal" class="modal" style="background-image: url('{{ .RelPermalink }}')"></div>
        </div>
          {{ end }}
          {{ end }}
        <h2 id="title">{{ .Params.title }}</h2>
        <p id="description">{{ .Params.description }}</p>
        {{ if $isFilm }}
        <p><em>This image was scanned from film.</em></p>
        {{ end }}
      </div>
    <!-- Post Tags -->
    {{ if .Params.tags }}
    <h2>Tags</h2>
    <div class="mt-12 flex flex-wrap">
      {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
      <a class="mr-1.5 mb-1.5 rounded-lg bg-black/[3%] px-5 py-2 no-underline dark:bg-white/[8%]" href="{{ $href }}/">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
    <div>
        <table id="photometa">
            <thead>
                <tr>
                    <td colspan="2"><h2>EXIF Data</h2></td>
                </tr>
            </thead>
            <tbody class="not-prose">
                {{ if not $isFilm }}
                <tr>
                    <td>Capture Date</td>
                    {{/* For some stupid reason, the key must be lowercase when searched */}}
                    {{ if (isset .Params "datetimeoriginal" ) }}
                    <td class="capdatenote">{{ (.Params.DateTimeOriginal | time).Format .Site.Params.dateFormat }} GMT -7</td>
                    {{ else }}
                    <td class="capdatenote">{{ .Params.DateTimeOriginal }} GMT -7</td>
                    {{ end }}
                  </tr>
                {{ else }}
                <tr>
                  <td>Capture Date</td>
                  <td class="capdatenotefilm">{{ (.Params.DateTimeOriginal | time).Format "2 January 2006" }}</td>
                </tr>
              {{ end }}
                <tr>
                    <td>Camera Model</td>
                    <td>{{ .Params.Model }}</td>
                </tr>
                <tr>
                    <td>Lens</td>
                    <td{{ if eq .Params.LensProfileName "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.LensProfileName }}</td>
                </tr>
                <tr>
                    <td>ISO</td>
                    <td{{ if eq .Params.ISOSpeedRatings "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.ISOSpeedRatings }}</td>
                </tr>
                {{ if not $isFilm }}
                <tr>
                    <td>Focal Length</td>
                    <td{{ if eq .Params.FocalLength "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.FocalLength }}</td>
                </tr>
                <tr>
                    <td>Aperature</td>
                    <td{{ if eq .Params.FNumber "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.FNumber }}</td>
                </tr>
                <tr>
                    <td>Exposure Time</td>
                    <td{{ if eq .Params.ExposureTime "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.ExposureTime }}</td>
                </tr>
                <tr>
                    <td>Exposure Mode</td>
                    <td{{ if eq .Params.ExposureMode "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.ExposureMode }}</td>
                </tr>
                <tr>
                    <td>Exposure Program</td>
                    <td{{ if eq .Params.ExposureProgram "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.ExposureProgram }}</td>
                </tr>
                <tr>
                    <td>Exposure Bias</td>
                    <td{{ if eq .Params.ExposureBiasValue "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.ExposureBiasValue }}</td>
                </tr>
                <tr>
                    <td>Temperature (K)</td>
                    <td{{ if eq .Params.Temperature "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.Temperature }}</td>
                </tr>
                <tr>
                    <td>Metering</td>
                    <td{{ if eq .Params.MeteringMode "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.MeteringMode }}</td>
                </tr>
                <tr>
                    <td>White Balance</td>
                    <td{{ if eq .Params.WhiteBalance "Unavailable" }} class="unavailablenote"{{ end }}>{{ .Params.WhiteBalance }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div id="photogeo">
            <h2>Location</h2>
            <div>
                <p id="location">Taken in {{ .Params.City }}, {{ .Params.State }}, {{ .Params.Country }}</p>
                <div id="maps">
                  <img id="map-far" alt="...Far!" src="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&zoom=4&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5" height="250" width="350">
                  <img id="map-pantpant" alt="...(pant pant pant)..." src="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5&zoom=10" height="250" width="350">
                  <img id="map-near" alt="Near..." src="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5&zoom=16" height="250" width="350">
                </div>
                <ul id="grover">
                    <li class="mapdata" data-map="map-near">Near</li>
                    <li class="mapdata" data-map="map-pantpant">(Pant,pant)</li>
                    <li class="mapdata" data-map="map-far">Far!</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

  <!-- Post Nav -->
  <!-- This bit gets the list of siblings (all pages in the section).
       However, this includes the parent page, too. So we create a new array
       of $children by looking for a match of the parent pathname within the 
       list of all pages in the section; if match, do not include in the children.
       A bit ridiculous that Hugo doesn't have a feature for this...
  -->
{{ $pathname := index (split .File.Dir "/") 0 }}
{{ $children := slice  }}
  {{ $pages := where site.Pages "Section" $pathname }}
  {{ $pages := sort $pages ".Params.UnixTime" "desc" }}
  {{ range $pages }}
  {{ $test := replace .RelPermalink "/" "" }}
  {{ if ne $test $pathname }}
  {{ $children = $children | append . }}
  {{ end }}
  {{ end }}

  {{ if and (gt (len $pages) 1) (in $children . ) }}
  <nav class="mt-24 flex rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">
    {{ with $children.Next . }}
    <a class="flex w-1/2 items-center rounded-l-md p-6 pr-3 no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]" href="{{ .Permalink }}">
      <span class="mr-1.5">←</span><span>{{ .Name }}</span>
    </a>
    {{ end }}
    {{ with $children.Prev . }}
    <a class="ml-auto flex w-1/2 items-center justify-end rounded-r-md p-6 pl-3 no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]" href="{{ .Permalink }}">
      <span>{{ .Name }}</span><span class="ml-1.5">→</span>
    </a>
    {{ end }}
  </nav>
  {{ end }}
</article>

<script>
  var modal = document.getElementById('modal');
  document.getElementById('hero').addEventListener(
    "click",
    (event) => {
      modal.style.display="block";
    });
  modal.addEventListener(
    "click",
    (event) => {
      this.className += " out";
      setTimeout(function() {
        modal.style.display = "none";
        modal.className = "";
      })
    });
  document.querySelector('#grover').addEventListener(
        "mouseover",
        (event) => {
            var showMap = event.target.getAttribute('data-map');
            if (showMap !== '' && showMap !== null) {
              var maps = document.getElementById('maps').getElementsByTagName('img');
              for (i in maps) {
                if (typeof maps[i] === 'object') maps[i].style.display = 'none';
              }
              document.getElementById(showMap).style.display = 'block';
            }
    });
  document.addEventListener("DOMContentLoaded", function (event) {
    var el = document.querySelector('div.hover-pinch-zoom-img');
    if (typeof init_zoom === 'function') init_zoom(el);
  });
</script>

{{ end }}
