{{ define "main" }}
{{ $originDate := .Params.DateTimeOriginal | time }}
<article>
  <header class="mb-20">
    <h1 class="!my-0 pb-2.5">{{ .Params.Title }}</h1>

    {{ if ne .Type "page" }}
    <div class="text-sm opacity-60">
      {{ if .Params.DateTimeOriginal }}
      <time>{{ $originDate.Format .Site.Params.dateFormat }}</time>
      {{ end }}
    </div>
    {{ end }}
    {{ $pathname := (index (split .File.Dir "/") 0) | printf "/%s" }}
    {{ $obj := .GetPage $pathname }}
    {{ $title := title (replace $obj.Title "+" " ") }}
    <p class="rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">From the <a href="{{ $pathname }}">{{ $title }}</a> album</p>
  </header>

  <div id="details">
    <!-- Displays the details of a specific photo -->
    <div class="herowrap">
        <div>
          {{ $imagepath := .Param "Filename" }}
            {{ $imagepath := $imagepath | printf "/photos/%s" }}
            {{ $image := resources.GetMatch $imagepath }}
            {{ with $image }}
            <img id="hero" src="{{ $image.RelPermalink }}" />
            {{ end }}
        </div>
        <h2 id="title">{{ .Params.title }}</h2>
        <p id="description">{{ .Params.description }}</p>
    </div>
    <div>
        <table id="photometa">
            <thead>
                <tr>
                    <td colspan="2"><h3>EXIF Data</h3></td>
                </tr>
            </thead>
            <tbody class="not-prose">
                <tr>
                    <td>Capture Date</td>
                    <td>{{ $originDate.Format .Site.Params.dateFormat }}</td>
                </tr>
                <tr>
                    <td>Camera Model</td>
                    <td>{{ .Params.Model }}</td>
                </tr>
                <tr>
                    <td>Lens</td>
                    <td>{{ .Params.LensProfileName }}</td>
                </tr>
                <tr>
                    <td>ISO</td>
                    <td>{{ .Params.ISOSpeedRatings }}</td>
                </tr>
                <tr>
                    <td>Focal Length</td>
                    <td id="FocalLength">{{ .Params.FocalLength }}</td>
                </tr>
                <tr>
                    <td>Aperature</td>
                    <td>{{ .Params.FNumber }}</td>
                </tr>
                <tr>
                    <td>Exposure Time</td>
                    <td>{{ .Params.ExposureTime }}</td>
                </tr>
                <tr>
                    <td>Exposure Mode</td>
                    <td>{{ .Params.ExposureMode }}</td>
                </tr>
                <tr>
                    <td>Exposure Program</td>
                    <td>{{ .Params.ExposureProgram }}</td>
                </tr>
                <tr>
                    <td>Exposure Bias</td>
                    <td>{{ .Params.ExposureBiasValue }}</td>
                </tr>
                <tr>
                    <td>Temperature (K)</td>
                    <td>{{ .Params.Temperature }}</td>
                </tr>
                <tr>
                    <td>Metering</td>
                    <td>{{ .Params.MeteringMode }}</td>
                </tr>
                <tr>
                    <td>White Balance</td>
                    <td>{{ .Params.WhiteBalance }}</td>
                </tr>
            </tbody>
        </table>
        <div id="photogeo">
            <h3>Location</h3>
            <div>
                <p id="location">Taken in {{ .Params.City }}, {{ .Params.State }}, {{ .Params.Country }}</p>
                <img id="map" src="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&zoom=4&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5" />
                <ul id="grover">
                    <li class="mapdata" data-near="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5&zoom=16">Near</li>
                    <li class="mapdata" data-pantpant="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5&zoom=10">(Pant,pant)</li>
                    <li class="mapdata" data-far="https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=350&height=250&center=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }}&marker=lonlat:{{ .Params.GPSLongitude }},{{ .Params.GPSLatitude }};color:%23ff0000;size:medium&apiKey=567f0d30482f4ad8b8674c54af6613f5&zoom=4">Far!</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer class="mt-12 flex flex-wrap">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a
      class="mr-1.5 mb-1.5 rounded-lg bg-black/[3%] px-5 py-2 no-underline dark:bg-white/[8%]"
      href="{{ $href }}"
      >{{ . }}</a
    >
    {{ end }}
  </footer>
  {{ end }}

  <!-- Post Nav -->
{{ $pathname := index (split .File.Dir "/") 0 }}
  {{ $pages := where site.Pages "Section" $pathname }}
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav class="mt-24 flex rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">
    {{ with $pages.Next . }}
    <a
      class="flex w-1/2 items-center rounded-l-md p-6 pr-3 no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span class="mr-1.5">←</span><span>{{ .Name }}</span></a
    >
    {{ end }}
    {{ with $pages.Prev . }}
    <a
      class="ml-auto flex w-1/2 items-center justify-end rounded-r-md p-6 pl-3 no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span>{{ .Name }}</span><span class="ml-1.5">→</span></a
    >
    {{ end }}
  </nav>
  {{ end }}
</article>

<script>
  document.querySelector('#grover').addEventListener(
        "mouseover",
        (event) => {
            var showMap = '';
            switch (event.target.textContent) {
                case "Near":
                    showMap = "near";
                    break;
                case "(Pant,pant)":
                    showMap = "pantpant";
                    break;
                case "Far!":
                    showMap = "far";
                    break;
            }
            if (showMap !== '') {
              var map = document.getElementById('map');
              var data = document.getElementsByClassName('mapdata');
              var mapdata = 'data-' + showMap;
              for (i in data) {
                if (data[i].hasAttribute(mapdata)) map.src = data[i].getAttribute(mapdata);
              }
            }
    });
</script>

{{ end }}
