div.recentgrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 2px;
        grid-auto-rows: min-max(80px, auto);
        grid-auto-flow: dense;
}
.card {
    min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
}
.card img {
    margin: 0;
}
ul.albums {
    padding: 0;
    list-style: none;
}
ul.albums li {
    display: inline-block;
}
div.album-item {
    width: 300px;
    margin: auto 0 !important;
    padding: 1rem;
    display: inline-block;
}
