{{ define "main" }}
<article>
  <header class="mb-20">
    <h1>{{ .Title }}</h1>

    {{ $pathname := index (split .File.Dir "/") 0 }}
    {{ $pages := where site.Pages "Section" $pathname }}
    {{ $pages := sort $pages ".Title" "asc" }}

    {{ .Content }}

    {{ if not .Params.country }}
    {{ $page := .Site.GetPage (add $pathname "/_index.md") }}
    <p class="rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">See other pictures from <a href="{{ $page.RelPermalink }}" alt="See other pictures from {{ $page.Title }}">{{ $page.Title }}</a></p>
    {{ end }}
   
  </header>
</article>


<!-- This is the logic for the country/region lists -->
<div>
{{ if .Params.country }}
<!-- This is for the countries pages -->
  {{ range $pages }}
    {{ if .Params.region }}
      {{ $title := .Title }}
      {{ $pageurl := .RelPermalink }}
      {{ $children := slice }}
      {{ $match := .RelPermalink }}
      {{ range $pages }}
        {{ if and (in .RelPermalink $match) (ne .RelPermalink $match) }}
        {{ $children = $children | append . }}
        {{ end }}
      {{ end }}
      {{ $childidx := (index (seq (len $children) | shuffle | first 1) 0)  }}
      {{ $rnd := 0 }}
      {{ if gt $childidx 1 }}
      {{ $rnd = sub $childidx 1 }}
      {{ end }}
      {{ $thumbpage := index $children $rnd }}
      {{ with $thumbpage }}
        {{ $page := .Site.GetPage (add .RelPermalink "index.md") }}
        {{ if (index $page.Params.pictures 0) }}
        {{ $image := resources.GetMatch (add "photos/" (index $page.Params.pictures 0).filename) }}
        {{ if $image }}
          {{ if ge $image.Height $image.Width }}
            {{ $image = $image.Resize "350x webp" }}
          {{ else }}
            {{ $image = $image.Resize "x350 webp" }}
          {{ end }}
          {{ with $image }}
  <div class="album-item my-10 first-of-type:mt-0 last-of-type:mb-0">
    <h2 class="!my-0 pb-1 !leading-none">{{ $title }}</h2>
    <a class="inset-0 text-[0]" href="{{ $pageurl }}"><img src="{{ .RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" title="{{ $title }}" alt="{{ $title }}" loading="lazy"></a>
  </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ end }}

{{ else }}
  <!-- This is for the region list pages -->

  {{ range .Pages }}
    {{ $title := .Title }}
    {{ $pageurl := .RelPermalink }}
    {{ $page := .Site.GetPage "geolist" (add .RelPermalink "index.md") }}
    {{ if and ($page.Params.pictures) ((index $page.Params.pictures 0).filename) }}
    {{ $image := resources.GetMatch (add "photos/" (index $page.Params.pictures 0).filename) }}
    {{ if $image }}
      {{ if ge $image.Height $image.Width }}
        {{ $image = $image.Resize "350x webp" }}
      {{ else }}
        {{ $image = $image.Resize "x350 webp" }}
      {{ end }}
      {{ with $image }}
  <div class="album-item my-10 first-of-type:mt-0 last-of-type:mb-0">
    <h2 class="!my-0 pb-1 !leading-none">{{ $title }}</h2>
    <a class="inset-0 text-[0]" href="{{ $pageurl }}"><img src="{{ .RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" title="{{ $title }}" alt="{{ $title }}" loading="lazy"></a>
  </div>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ end }}
  {{ end }}

</div>

{{ end }}
