<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src *; script-src www.googletagmanager.com;"> 
  <meta name="theme-color" content="">
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>
  {{ $site_author := or site.Author.name site.Params.name site.Title }}
  {{ if eq .Kind "page" }}
  <meta name="description" content="{{ .Title}}: {{ .Params.description }}">
  <meta name="author" content="{{ or .Params.author $site_author }}">
  {{ else if eq .Kind "home" }}
  <meta name="description" content="{{ .Summary }}">
  {{ else }}
  {{ $summary := .Title | printf "%s%s" "Pictures from " }}
  <meta name="description" content="{{ $summary }}">
  
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ block "styles" . }} {{ end }}
  <!-- Styles & Scripts -->
  {{ $main := resources.Get "css/styles.css" }}
  
  {{ $custom := resources.Get "css/overrides.css" }}
  
  {{ $css := slice $main $custom | resources.Concat "styles.css" | minify }}
  <link type="text/css" rel="stylesheet" href="{{ $css.RelPermalink }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ `favicon.ico` | absURL }}">
  <link rel="apple-touch-icon" href="{{ `apple-touch-icon.png` | absURL }}">

  <!-- RSS -->
  {{ range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}">
  {{ end }}

  <!-- Misc -->
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://www.google-analytics.com">
</head>
