<div class="recent">
        {{ $recent := where .Site.Pages "Type" "article" }}
        {{ range first 60 (sort $recent ".Params.UnixTime" "desc") }}
            {{ $pagepath := .Permalink }}
            {{ $title := .Param "Title" }}
            {{ $imagepath := .Param "Filename" }}
            {{ $imagepath := $imagepath | printf "/photos/%s" }}
            {{ $image := resources.GetMatch $imagepath }}
            {{ if $image }}
                {{ if ge $image.Height $image.Width }}
                {{ $image = $image.Resize "350x webp" }}
                {{ else }}
                {{ $image = $image.Resize "x350 webp" }}
                {{ end }}
            {{ $image := $image.Crop "350x150 center" }}
            {{ with $image }}
            <a href="{{ $pagepath }}"><img src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}" title="{{ $title }}" alt="{{ $title }}" loading="lazy"></a>
            {{ end }}
            {{ end }}
        {{ end }}
        <p>You can always look through the <a href="/photos/">full photo list</a> or see the <a href="/tags/">list of tags I've used</a>.</p>
</div>
