{{ with $.Params.images }}
    {{ range first 1 . }}
        {{ $img := . }}
        {{ if (urls.Parse $img).Scheme }}
            {{ $twimage := resources.GetMatch $img }}
            {{ $twimage := $twimage.Fit "1200x630" }}
            {{ $twimage := $twimage.Crop "1200x630" }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $twimage.RelPermalink }}"/>
<meta name="twitter:image:alt" content="{{ $twimage.Title }}"/>
        {{ end }}
    {{ end }}
{{ end }}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
<meta name="twitter:site" content="@sowrey"/>
