{{ define "main" }} 
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
<header>
    <h1>{{ .Params.heading }}</h1>
</header>
<section>
    {{ .Content }}
    <div>
        <h2 id="albums">Oh, the places I've seen...</h2>
        {{ $pages := union .RegularPages .Sections }}
        {{ $pages := sort $pages "Title" "asc" }}
        <div class="mt-12 flex flex-wrap">
        {{ range $pages }}
            {{ if ne .Title "Photos" }}
                {{ $title := title (replace .Title "+" " ") }}
            <a class="mr-1.5 mb-1.5 rounded-lg bg-black/[3%] px-5 py-2 no-underline dark:bg-white/[8%]" href="{{ .Permalink | relURL }}" title="{{ $title }}">{{ $title }}</a>
            {{ end }}
        {{ end }}
        </div>
    </div>
    <div>
        <h2>Recent Pictures</h2>
        {{ partial "recent.html" . }}
    </div>
</section>
{{ end }}