{{ define "main" }} 
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
<header>
    <h1>{{ .Params.heading }}</h1>
</header>
<section>
    {{ .Content }}
    <div>
        <h2 id="albums">Oh, the places I've seen...</h2>
        <ul class="albums">
        {{ $pages := union .RegularPages .Sections }}
        {{ $pages := sort $pages "Title" "asc" }}
        {{ range $pages }}
            {{ if ne .Title "Photos" }}
                {{ $title := title (replace .Title "+" " ") }}
            <li><a href="{{ .Permalink | relURL }}" title="{{ $title }}">{{ $title }}</a></li>
            {{ end }}
        {{ end }}
        </ul>
    </div>
    <div>
        <h2>Recent Pictures</h2>
        {{ partial "recent.html" . }}
    </div>
</section>
{{ end }}