{{ define "main" }} 
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
<header>
    <h1>{{ .Params.heading }}</h1>
</header>
<section>
    <article>
        {{ .Content }}
        {{ partial "recent.html" . }}
    </article>
    <article>
        <a style="text-decoration:none;" name="albums"><h2>See What's in the Albums</h2></a>
        <ul class="albums">
            {{ range .Site.Pages }}
            {{ if eq .Kind "section" }}
            {{ $title := title (replace .Title "+" " ") }}
            <li><a href="{{ .Permalink | relURL }}" title="{{ $title }}">{{ $title }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
    </article>
</section>
{{ end }}